@{
    ViewBag.Title = "About";
}

<div id="view-about">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h2>About Me</h2>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-2 col-sm-4 col-md-3 col-lg-2">
                            <img src="~/Content/Images/JoshHeitzThumbnail.png" alt="Josh's Portfolio Photo" class="img-rounded img-responsive"/><br />
                        </div>
                        <div class="col-xs-10 col-sm-8 col-md-9 col-lg-10">
                            <p class="lead">
                                My name is <b>Josh Heitz</b>, and I am a software developer who loves back-end programming.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="text-larger">
                                I believe in developing for the future in such a way as to empower my clients to troubleshoot the software I
                                write using robust error trapping and reporting. I make heavy use of design patterns in my work
                                to promote code reuse and easy maintenance for the person who looks at it after me. I'm a team
                                player when it comes to tackling large projects, but I'm just as comfortable segmenting a
                                solution into pieces and coding each piece myself.<br/><br />
                            </p>        
                        </div>
                    </div>
                    
                    <p class="text-larger">
                        My hobbies include board games, trying new restaurants, and traveling to new places with my amazing wife.
                        I majored in Mathematics at West Texas A&amp;M University and still pursue mathematics as a hobby today.
                        Having a background in Mathematics gives me an uncommon view of many problems in computer science and allows
                        me to think outside the box.<br /><br />
                    </p>
                    <p class="text-larger">
                        Please see <a href="https://drive.google.com/file/d/0ByHZ5TZCJ_cWSWxiNlBHX1dBT1pJUEczWkNncFM3dG5ENWFj/view?usp=sharing">my resume</a>
                        for further details on my work history.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h2>Skillset</h2>
                    </div>
                </div>
                <div class="panel-body text-larger">
                    <ul class="list-unstyled">
                        <li>
                            Languages
                            <ul>
                                <li>C#</li>
                                <li>VB.NET</li>
                                <li>HTML</li>
                                <li>JavaScript</li>
                                <li>CSS</li>
                                <li>C</li>
                                <li>COBOL</li>
                                <li>Perl</li>
                            </ul>
                        </li>
                        <li>
                            Databases
                            <ul>
                                <li>Microsoft SQL Server</li>
                                <li>MySQL</li>
                            </ul>
                        </li>
                        <li>
                            Technologies
                            <ul>
                                <li>Microsoft .NET Framework</li>
                                <li>Web Service APIs (SOAP/REST/XML)</li>
                                <li>Telerik Web Controls</li>
                                <li>Telerik ORM</li>
                                <li>Infragistics Windows Forms Controls</li>
                                <li>Microsoft Azure</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        // first, list the modules that have an export. Each of these should have a corresponding parameter in the function signature.
        // second, list the modules that do NOT have an export. These should NOT have a corresponding parameter in the function signature.
        require(['jquery', 'bootstrap'], function () {
        });
    </script>
}
