@{
    ViewBag.Title = "Home";
}

<div id="view-home">
    <div class="jumbotron jumbo-bg">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-6 text-right">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <h2>
                    HyperSOA Framework<br/><small>The service architecture you've been looking for!</small>
                </h2>
                <p>
                    <a class="btn btn-primary btn-lg" href="@Url.Action("HyperSoaFramework", "Projects")">Learn More</a>
                </p>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-4">
            <div class="well">
                <p class="text-center">
                    <span class="icon-lg text-primary"><i class="fa-pencil-square-o"></i></span><br />
                    <span class="lead">HyperSOA Docs</span>
                </p>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="well">
                <p class="text-center">
                    <span class="icon-lg text-primary"><i class="fa-code-fork"></i></span><br />
                    <span class="lead">Related Projects</span>
                </p>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="well">
                <p class="text-center">
                    <span class="icon-lg text-primary"><i class="fa-user"></i></span><br />
                    <span class="lead">About Me</span>
                </p>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3>
                            Custom Commands<br/><small>Reuse all the things!</small>
                        </h3>
                    </div>
                </div>
                <div class="panel-body">
                    <p>
                        Command modules are decoupled from the service they run in, giving you more control over which tasks can be executed in each service.
                    </p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3>
                            Optional Request and Response Serialization<br/><small>Occam's Razor never felt so good!</small>
                        </h3>
                    </div>
                </div>
                <div class="panel-body">
                    <p>
                        Optimize your commands by sidestepping serialization. If your command accepts a simple string, don't give it an entire XML or JSON wrapper. Just give it the string.
                    </p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3>
                            Unprecedented Trace Logging<br /><small>Keep your friends close and your logger closer.</small>
                        </h3>
                    </div>
                </div>
                <div class="panel-body">
                    <p>
                        &lt;More Stuff Here&gt;
                    </p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3>
                            Free NuGet Packages<br /><small>Build it fast! Build it right!</small>
                        </h3>
                    </div>
                </div>
                <div class="panel-body">
                    <p>
                        Hit the ground running with rapid SOA development right here, right now.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3>
                            Why HyperSOA?
                        </h3>
                    </div>
                </div>
                <div class="panel-body">
                    <p>
                        The HyperSOA Framework picks up where WCF left off. The framework provides a fully functional, fully customizable server-side component that accept commands completely defined by you.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3>
                            Latest Project<br /><small>HyperSOA Framework</small>
                        </h3>
                    </div>
                </div>
                <div class="panel-body">
                    <p class="lead">
                        Stuff about this box, including a link to <a href="@Url.Action("HyperSOAFramework", "Projects")">HyperSOA Framework</a>.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3>
                            Recent Interest<br /><small>Microsoft MVC</small>
                        </h3>
                    </div>
                </div>
                <div class="panel-body">
                    <p class="lead">
                        I've recently acquired a taste for web development and am in the process of testing out Microsoft's MVC technology.
                        Combined with the power of <a href="http://www.getbootstrap.com">Bootstrap</a> and <a href="https://jquery.com/">jQuery</a>,
                        I aim to produce lightning fast, responsive websites designed to deliver robust and relevant content.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        // first, list the modules that have an export. Each of these should have a corresponding parameter in the function signature.
        // second, list the modules that do NOT have an export. These should NOT have a corresponding parameter in the function signature.
        require(['jquery', 'bootstrap'], function () {
        });
    </script>
}
