@{
    ViewBag.Title = "Home";
}

<div id="view-home">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-6">
            <div class="page-header">
                <h1>
                    Josh Heitz<br /><small>Professional Software Developer</small>
                </h1>
            </div>
            <img src="~/Content/Images/JoshHeitzPortfolio.png" alt="Josh's Portfolio Photo" class="img-circle img-responsive center-block" />
            <p class="lead">
                My name is Josh Heitz, and I am a software developer who loves back-end programming. Microsoft technologies are my specialty.
                I code defensively using well-established design patterns. I master new systems quickly and make a continuing
                effort to learn more every day.
            </p>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-6">
            <div class="page-header">
                <h1>
                    Latest Project<br /><small>HyperSOA Framework</small>
                </h1>
            </div>
            <p class="lead">
                Stuff about this box, including a link to <a href="@Url.Action("HyperSOAFramework", "Projects")">HyperSOA Framework</a>.
            </p>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-6">
            <div class="page-header">
                <h1>
                    Recent Interest<br /><small>Microsoft MVC</small>
                </h1>
            </div>
            <p class="lead">
                I've recently acquired a taste for web development and am in the process of testing out Microsoft's MVC technology.
                Combined with the power of <a href="http://www.getbootstrap.com">Bootstrap</a> and <a href="https://jquery.com/">jQuery</a>,
                I aim to produce lightning fast, responsive websites designed to deliver robust and relevant content.
            </p>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        // first, list the modules that have an export. Each of these should have a corresponding parameter in the function signature.
        // second, list the modules that do NOT have an export. These should NOT have a corresponding parameter in the function signature.
        require(['jquery', 'bootstrap'], function () {
        });
    </script>
}
