@{
    ViewBag.Title = "Projects";
}

<div id="view-all-projects">
</div>

@section scripts
{
    <script>
        // first, list the modules that have an export. Each of these should have a corresponding parameter in the function signature.
        // second, list the modules that do NOT have an export. These should NOT have a corresponding parameter in the function signature.
        require(['jquery', 'bootstrap'], function () {
        });
    </script>
}
